
<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Flask app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
    href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
    rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/style.min.css') }}"/>
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
  </head>
  <body>
    <header>
      <nav class="nav">
        <div class="logo-wrapper">
          <a href="{{ url_for('main.index')}}"><img class="logo" src="{{ url_for('static', filename='img/logo-agensit.png')}}" alt="logo"></a>
        </div>
        <div class="nav-items hidden xl:block">
          <a href="{{ url_for('main.index') }}">Accueil</a>
          {% if current_user.is_anonymous %}
          <a href="{{ url_for('main.login') }}">Se connecter</a>
          {% else %}
          <a href="{{ url_for('main.logout') }}">Se déconnecter</a>
          {% endif %}
        </div>
        <a class="hamburger block xl:hidden" id="hamburger-5">
          <span class="line xl:hidden"></span>
          <span class="line xl:hidden"></span>
          <span class="line xl:hidden"></span>
        </a>
        <ul class="menu md:hidden">
          <a href="{{ url_for('main.index') }}"><li>Accueil</li></a>
          {% if current_user.is_anonymous %}
          <a href="{{ url_for('main.login') }}"><li>Se connecter</li></a>
          {% else %}
          <a href="{{ url_for('main.logout') }}"><li>Se déconnecter</li></a>
          {% endif %}
        </ul>
      </nav>
    </header>
    <section class="main">
      {% block content %}
      {% endblock %}
    </section>

  </body>
  {% block javascript %}
    <script type="text/javascript" src="{{ url_for('static', filename='dist/js/main.min.js')}}">
    </script>
    <!-- The contents of myscript.js will be loaded inside the script tag -->
  {% endblock %}
</html>
