{% extends "base.html" %}

{% block content %}
{% if current_user.is_anonymous %}
<div class="anonymous-message">
  <h1 class="welcome-message text-2xl font-semibold">Bonjour, pour accéder aux analyses<br/>
    Veuillez vous connecter</h1>
  <div class="img-wrapper my-8">
    <img src="{{ url_for('static', filename='img/analysis.svg')}}" alt="image-analyse" width="600"/>
  </div>
   <button class="button index-login"><a href="{{ url_for('main.login') }}">Se connecter</a></button>
</div>
<footer class="footer hidden md:block">
  <div class="footer-legal">
    <p>&copy; 2020 tous droits réservés, Agensit SAS</p>
  </div>
</footer>
{% else  %}
<div class="flex flex-col md:flex-row">
  <div class="sidebar h-24 fixed bottom-0 md:relative md:h-auto lg:h-screen z-10 w-full md:w-2/12">
      <ul class="list-reset flex flex-row md:flex-col py-0 md:py-3 px-1 md:px-2 text-center md:text-left mt-16">
          <li class="mr-3 mb-2 flex-1">
              <a href="#" class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-pink-500">
                  <i class="fas fa-tasks pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-lg md:text-base text-gray-600 md:text-gray-400 block md:inline-block">Dashboard</span>
              </a>
          </li>
          <li class="mr-3 mb-2 flex-1">
              <a href="#" class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-purple-500">
                  <i class="fa fa-envelope pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-lg md:text-base text-gray-600 md:text-gray-400 block md:inline-block">Analyse de données</span>
              </a>
          </li>
          <li class="mr-3 mb-2 flex-1">
              <a href="#" class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-blue-600">
                  <i class="fas fa-chart-area pr-0 md:pr-3 text-blue-600"></i><span class="pb-1 md:pb-0 text-lg md:text-base text-white md:text-white block md:inline-block">Rapport stratégique</span>
              </a>
          </li>
      </ul>
  </div>
<div class="flex flex-row flex-wrap flex-grow-0 justify-center mb-32 md:w-10/12">

<div class="index-connected mt-0">
  <h1 class="welcome-message text-2xl font-semibold"> Bienvenue, {{ current_user.username }}!<br/> Vous pouvez accéder sur cette page à nos différentes analyses</h1>
</div>

<div class="w-full xl:w-4/12 p-3">
  <!--Graph Card-->
  <div class="bg-white border-transparent rounded-lg shadow-lg">
      <div class="bg-gray-400 uppercase text-gray-800 border-b-2 border-gray-500 rounded-tl-lg rounded-tr-lg p-2">
          <h5 class="font-bold uppercase text-gray-600">Dashboard dynamique</h5>
      </div>
      <div class="mt-2 w-full flex justify-center">
        <img src="{{ url_for('static', filename='img/data_visualization.svg')}}" alt="image-data-viz" width="200"/>
      </div>
      <div class="p-5 text-center">
        <p class="card-text">Pilotez et visualisez en temps réel vos données à partir d'une interface dynamique et intuitive</p>
        <button class="bg-blue-500 text-white font-bold py-2 px-4 border-b-4 hover:border-b-2 hover:border-t-2 border-blue-600 hover:border-blue-500 rounded"><a href="/dashboard">Accéder au tableau</a></button>
      </div>
  </div>
  <!--/Graph Card-->
</div>
<div class="w-full xl:w-4/12 p-3">
  <!--Graph Card-->
  <div class="bg-white border-transparent rounded-lg shadow-lg">
      <div class="bg-gray-400 uppercase text-gray-800 border-b-2 border-gray-500 rounded-tl-lg rounded-tr-lg p-2">
          <h5 class="font-bold uppercase text-gray-600">Analyse des ventes</h5>
      </div>
      <div class="mt-2 w-full flex justify-center">
        <img src="{{ url_for('static', filename='img/data_analyzing_.svg')}}" alt="image-data-analyzing" width="275"/>
      </div>
      <div class="p-5 text-center">
        <p class="card-text">Pilotez et visualisez en temps réel vos données à partir d'une interface dynamique et intuitive</p>
        <button class="bg-blue-500 text-white font-bold py-2 px-4 border-b-4 hover:border-b-2 hover:border-t-2 border-blue-600 hover:border-blue-500 rounded"><a href="/analyse">Accéder à l'analyse</a></button>
      </div>
  </div>
  <!--/Graph Card-->
</div>
<div class="w-full xl:w-4/12 p-3">
  <!--Graph Card-->
  <div class="bg-white border-transparent rounded-lg shadow-lg">
      <div class="bg-gray-400 uppercase text-gray-800 border-b-2 border-gray-500 rounded-tl-lg rounded-tr-lg p-2">
          <h5 class="font-bold uppercase text-gray-600">Rapport stratégique</h5>
      </div>
      <div class="mt-2 w-full flex justify-center">
        <img src="{{ url_for('static', filename='img/report_analysis_.svg')}}" alt="image-data-rapport" width="260"/>
      </div>
      <div class="p-5 text-center">
        <p class="card-text">Consultez le rapport stratégique basé sur l'étude de vos données et préparé par nos analystes</p>
        <button class="bg-blue-500 text-white font-bold py-2 px-4 border-b-4 hover:border-b-2 hover:border-t-2 border-blue-600 hover:border-blue-500 rounded"><a href="/stratégie"> Accéder au rapport</a></button>
      </div>
  </div>
  <!--/Graph Card-->
</div>
<div class="w-full xl:w-12/12 p-3">
  <div class="bg-white border-transparent rounded-lg shadow-lg w-full h-auto md:w-12/12 mx-auto">
    <div class="bg-gray-400 border-b-2 border-gray-500 rounded-tl-lg rounded-tr-lg p-2">
        <h5 class="font-bold uppercase text-gray-600">Archive</h5>
    </div>
    <div class="p-2">
        <table class="w-full p-5 text-gray-700 text-base">
            <thead>
                <tr>
                    <th class="text-center text-blue-900">Dashboard dynamique</th>
                    <th class="text-center text-blue-900">Analyse des données</th>
                    <th class="text-center text-blue-900">Rapport stratégique</th>
                </tr>
            </thead>
            <tbody class="text-center">
                {{ moment.lang("fr") }}
                <tr>
                    <td>{{ moment().format('MMMM Do YYYY') }}</td>
                    <td>{{ moment().format('MMMM Do YYYY') }}</td>
                    <td>{{ moment().format('MMMM Do YYYY') }}</td>
                  
                </tr>
                <tr>
                    <td>{{ moment().format('MMMM Do YYYY') }}</td>
                    <td>{{ moment().format('MMMM Do YYYY') }}</td>
                    <td>{{ moment().format('MMMM Do YYYY') }}</td>
                 
                </tr>
                <tr>
                    <td>{{ moment().format('MMMM Do YYYY') }}</td>
                    <td>{{ moment().format('MMMM Do YYYY') }}</td>
                    <td>{{ moment().format('MMMM Do YYYY') }}</td>

                </tr>
            </tbody>
        </table>

        <p><a href="#">voir plus</a></p>

    </div>
  </div>
  <div class="w-full xl:w-4/12 p-3">
  </div>
</div>
<!-- <div class="button-to-dashapp mt-24 flex flex-col md:flex-row">
  <div class="card-to-dashapp h-32 w-full md:w-48">
    <div class="card-body w-full md:w-64">
      <div class="bg-gray-400 border-b-2 border-gray-500 rounded-tl-lg rounded-tr-lg flex justify-center my-auto h-16">
        <h2 class="text-base font-bold uppercase text-gray-600 tracking-wide">Dashboard dynamique</h2>
      </div>
      <p class="card-text">Pilotez et visualisez en temps réel vos données à partir d'une interface dynamique et intuitive</p>
    </div>
    <button class="h-24"><a href="/dashboard">Accéder au tableau</a></button>
  </div>
  <div class="card-to-dashapp h-32">
    <div class="card-body w-full md:w-64">
      <div class="bg-gray-400 border-b-2 border-gray-500 rounded-tl-lg rounded-tr-lg ">
        <h2 class="text-base font-bold uppercase text-gray-600 tracking-wide">Analyse de vos données</h2>
      </div>
      <p class="card-text">Une analyse de vos données détaillée et illustrée par des graphiques interactifs</p>
    </div>
    <button class="h-24"><a href="/analyse">Accéder à l'analyse</a></button>
  </div>
  <div class="card-to-dashapp h-32">
    <div class="card-body">
      <div class="bg-gray-400 border-b-2 border-gray-500 rounded-tl-lg rounded-tr-lg">
        <h2 class="text-base font-bold uppercase text-gray-600 tracking-wide">Rapport stratégique</h2>
      </div>
      <p class="card-text">Consultez le rapport stratégique basé sur l'étude de vos données et préparé par nos analystes</p>
    </div>
    <button class="h-24"><a href="/stratégie"> Accéder au rapport</a></button>
  </div>
</div> -->


{% endif %}
{% endblock %}